<%- include("./parts/header") %>

    <form action="/" method="POST" enctype="multipart/form-data">

        <label for="register">Регистрийн дугаар: </label>
        <input type="text" placeholder="Регистрийн дугаар" name="register" required>

        <br><br>

        <label for="passport">Иргэний үнэмлэхний нүүр зураг:</label>
        <input type="file" accept="image/*" name="passport" required>
        
        <br><br>

        <label for="selfie">Үнэмлэхээ барьсан зураг:</label>
        <input type="file" accept="image/*" name="selfie" required>

        <br><br>
        <br><br>

        <button>Submit</button>
    </form>

<%- include("./parts/footer") %>